#header_wrapper{
    margin: 10px;
}
#logoContainer{
    float: left;
}
#global{
    float: right;
}

#logo_text{
    font-height: 16px;
    color: blue;
}

#form-container{
    margin: 20em;
}

#url_input{
    width: 30em;
    height: 3em;
    border-radius: 10px;
    -moz-border-radius: 10px;
}